@media screen and (min-width: 480px) {
  .banner {
    background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
      url(../images/imgbackground-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px 400px;
    min-height: 400px;
    display: block;
    padding: 118px 0px 118px 0px;
    &__title {
      font-weight: 900;
      font-size: $bannerFont-mobi;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $whiteColor;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
        url(../images/imgbackground-480.jpg);
    }
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
      url(../images/imgbackground-768.jpg);
    background-size: 768px 400px;
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
        url(../images/imgbackground-768.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
      url(../images/imgbackground-1600.jpg);
    background-size: 1600px auto;
    padding: 200px 0px 200px 0px;
    &__title {
      font-size: $bannerFont;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient($bg-bannerColor, $bg-bannerColor),
        url(../images/imgbackground-1600@2x.jpg);
    }
  }
}
