* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $mainFont-family;
  color: $secondaryColor;
}
img {
  display: block;
  min-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
