@media screen and (min-width: 480px) {
  .links-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    line-height: 0.7;
    &__icon {
      border-radius: 50%;
      line-height: 0.7;
      outline: none;
      &--bg-dark {
        background-color: $bg-iconColor;
        fill: $whiteColor;
        transition: fill $baseAnimation, background-color $baseAnimation;
        &:hover,
        &:focus {
          background-color: $primaryColor;
          fill: $whiteColor;
          cursor: pointer;
        }
      }
      &--bg-white {
        background-color: $whiteColor;
        fill: $iconColor;
        transition: background-color $baseAnimation, fill $baseAnimation;
        &:hover,
        &:focus {
          fill: $whiteColor;
          background-color: $primaryColor;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .links-row {
    &--in_figcaption {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}
