.menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vw;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateX(100%);
  padding: 5px;
  background-color: $whiteColor;
  transition: $baseAnimation;
  & .is-open {
    opacity: 1;
    display: block;
    transform: translateX(100%);
  }
  &.menu-toggle {
    position: absolute;
    top: 21px;
    right: 25px;
    cursor: pointer;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__link {
    color: $text-darkColor;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: $primaryColor;
    }
    &----active {
      color: $secondaryColor;
      font-size: 24px;
    }
  }
  &__social * {
    display: inline-block;
    border-right: 1px solid $border-inputColor;
    margin-right: 10px;
  }
  &--link {
    color: $primaryColor;
    font-weight: 500;
    font-size: $namesFont;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
    width: 0;
  }
}
