@media screen and (min-width: 480px) {
  .header-border {
    border-bottom: 1px solid $header-brColor;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-toggle {
    border: none;
    fill: $blackColor;
    background-color: $whiteColor;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: $primaryColor;
    }
  }
  .header-container__navigation,
  .header-container__navigation-portfolio,
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 21px 0px 21px 0px;
    &__navigation {
      margin: 0px 101px 0px 83px;
    }
    &__navigation-portfolio {
      margin: 0px 101px 0px 83px;
    }
  }
  .menu-toggle {
    display: none;
    width: 0;
  }
  .header-container__navigation,
  .header-container__navigation-portfolio {
    display: block;
  }
  .menu-nav {
    display: flex;
    gap: 60px;
    &__link {
      font-weight: 500;
      font-size: $primaryFont;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      outline: none;
      position: relative;
      transition: color $baseAnimation;
      &--no-active {
        color: $text-darkColor;
      }
      &:hover,
      &:focus {
        color: $primaryColor;
      }
      &--is-active {
        position: relative;
        color: $primaryColor;
        &::after {
          content: "";
          display: block;
          background-color: $primaryColor;
          height: 4px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          top: 45px;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $secondaryColor;
      font-weight: 500;
      font-size: $form-textFont;
      line-height: 1.14;
      letter-spacing: 0.02em;
      outline: none;
      transition: color $baseAnimation;
      &:hover,
      &:focus {
        color: $primaryColor;
      }
    }
    &__icon {
      fill: currentColor;
      &--smartphone {
        width: 10px;
        height: 14px;
        margin-right: 8px;
      }
      &--envelope {
        width: 14px;
        height: 10px;
        margin-right: 8px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding: 24px 0px 25px 0px;
    &__navigation {
      margin: 0px 345px 0px 93px;
    }
    &__navigation-portfolio {
      margin: 0px 350px 0px 93px;
    }
  }
  .menu-nav {
    display: flex;
    gap: 46px;
    &__link--is-active {
      position: relative;
      &::after {
        content: "";
        top: 46px;
      }
    }
  }
  .contacts {
    flex-direction: row;
    gap: 30px;
    align-items: center;

    &__link {
      font-size: $primaryFont;
    }
    &__icon {
      fill: currentColor;
      &--smartphone {
        width: 10px;
        height: 16px;
        margin-right: 10px;
      }
      &--envelope {
        width: 16px;
        height: 12px;
        margin-right: 10px;
      }
    }
  }
}
