@media screen and (min-width: 480px) {
  .footer-container {
    background-color: $bgdarkColor;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
    &__column {
      display: block;
      text-align: center;
      &--indent_left {
        margin-top: 60px;
        margin-bottom: 60px;
      }
      & h5 {
        font-weight: 700;
        font-size: $primaryFont;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $whiteColor;
        margin-bottom: 20px;
      }
    }
  }
  .contacts-footer {
    display: block;
    list-style: none;
    &--indent-top {
      padding-top: 20px;
    }
    &__address {
      font-style: normal;
      font-size: $primaryFont;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $whiteColor;
    }
    &__item:not(:last-child) {
      padding-bottom: 8px;
    }
    &__link {
      font-weight: 400;
      font-size: $primaryFont;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $text-contactsColor;
      text-decoration: none;
      outline: none;
      transition: color $baseAnimation;
      &--underline {
        text-decoration-line: underline;
      }
      &:hover,
      &:focus {
        color: $primaryColor;
      }
    }
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      font-weight: 700;
      font-size: $primaryFont;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $whiteColor;
      text-align: center;
    }
    &__input {
      display: inline;
      padding: 14px 15px;
      border-radius: 4px;
      border: 1px solid $borderColor;
      background-color: $bgdarkColor;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: $secondaryFont;
      line-height: 1.25;
      letter-spacing: 0.03em;
      text-align: left;
      outline: 0;
      color: $whiteColor;
      &::placeholder {
        color: $whiteColor;
        opacity: 0.6;
      }
      &:not(:placeholder-shown) {
        border-color: $primaryColor;
      }
      &:focus-within {
        border-color: $primaryColor;
      }
    }
  }
}
/* tablet*/
@media screen and (min-width: 768px) {
  .footer-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    &__column {
      &--indent_left {
        padding-left: 144px;
        margin-top: 5px;
      }
      &--end {
        margin-top: 60px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer-row {
    justify-content: flex-start;
    &__column {
      text-align: left;
      &--indent_left {
        padding-left: 70px;
        padding-right: 77px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      &--end {
        margin-top: 10px;
      }
    }
  }
  .newsletter-form {
    justify-content: flex-start;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    &__input {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
      margin-top: 36px;
    }
    &__title {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
