@media screen and (min-width: 480px) {
  .header-border {
    border-bottom: 1px solid $header-brColor;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .menu-toggle {
    border: none;
    fill: $blackColor;
    background-color: $whiteColor;
    &:hover,
    &:focus {
      fill: $primaryColor;
    }
  }
  .header-container__navigation,
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-border {
    border-bottom: 1px solid $header-brColor;
  }
  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0px 25px 0px;
    &__navigation {
      margin: 0px 345px 0px 93px;
    }
    &__navigation-portfolio {
      margin: 0px 350px 0px 93px;
    }
  }
  .menu-toggle {
    display: none;
    width: 0;
  }
  .header-container__navigation {
    display: block;
  }
  .menu-nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 46px;
    &__link {
      font-weight: 500;
      font-size: $primaryFont;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      outline: none;
      position: relative;
      transition: color $baseAnimation;
      &--no-active {
        color: $text-darkColor;
      }
      &:hover,
      &:focus {
        color: $primaryColor;
      }
      &--is-active {
        position: relative;
        color: $primaryColor;
        &::after {
          content: "";
          display: block;
          background-color: $primaryColor;
          height: 4px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          top: 46px;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .contacts {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    vertical-align: middle;
    &--end {
      padding: 0px;
      margin: 0px;
    }
    &__link {
      color: $secondaryColor;
      font-weight: 500;
      font-size: $primaryFont;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      outline: none;
      transition: color $baseAnimation;
      &:hover,
      &:focus {
        color: $primaryColor;
      }
    }
    &__icon {
      fill: currentColor;
      vertical-align: middle;
      &--position-left {
        margin-right: 10px;
      }
    }
  }
}
